* { margin: 0; padding: 0; }

/* Class Selector */
.blue {
	color: blue;
}

/* id Select */
#blue {
	color: blue;
}

/*tag selector*/
h1 {
	color: black;
}

section {
	align-items:center;
	align-self: center;
}

body {
	background-color: #d6dbe0;
	font-family: 'Montserrat';font-size: 15px;
}

.header {
	border-top: solid 8px #000000;
}

.nav {
	margin-top: 12px;
	margin-left: 10%;
}

.nav-item {
	list-style: none;
	display: inline;
	margin-right: 12px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #48b2e8;
}

.title {
    text-transform: uppercase;
    letter-spacing: 3px;
 }

   .button {
     border: 2px solid #019cdb;
     color: #019cdb;
     display: inline-block; /* To wrap the border just around the content */
     font-size: 10px;
     margin-top: 12px;
     padding: 12px 30px;
   }

     .button:hover {
     background-color: #019cdb;
     color: #dfdfdf;
     cursor: pointer; /* This ensures that the cursor changes on hover */
   }

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -flex;
	align-items: center;
}

.column {
   	flex-direction: column;
}

.portrait {
	height: 45%;
	width: auto;
}