/* Class Selector */
.blue {
	color: blue;
}

/* id Select */
#blue {
	color: blue;
}

/*tag selector*/
h1 {
	color: blue;
}

body {
	background-color: #d6dbe0;
	font-family: 'Montserrat';font-size: 15px;
}

.header {
	border-top: solid 10px #000000;
}